/* .container-fluid {
    background-color: aquamarine;
} */

#navb {
    background-color: orange;
    padding: 6px;
    margin: -8px 0px 0px 0px;
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif; 
            background: linear-gradient(to right, green, 
                    green,red,red,red, green, green); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
}